@page "/IkeaGateway"
@using HomeAutomation.Blazor.Data.Model
@using HomeAutomation.IKEA.Model
@using HomeAutomation.IKEA.Response
@using HomeAutomation.IKEA.Services
@inject IkeaGatewayService ikeaGatewayService

<div class="w3-card-4">
    <div class="w3-container w3-theme">
        <h3>Ikea's Gateway indstillinger</h3>
    </div>
    <EditForm Model="gatewayModel" OnSubmit="Submit">
        <div class="w3-container">
            <div class="w3-margin-bottom">
                <label>IP</label>
                <input @bind-value="gatewayModel.IP" class="w3-input" type="text">
            </div>
            <div class="w3-margin-bottom">
                <label>Kode</label>
                <input @bind-value="gatewayModel.Code" class="w3-input" type="text">
            </div>
            <div class="w3-margin-bottom">
                <label>Brugernavn</label>
                <input @bind-value="gatewayModel.Username" class="w3-input" type="text">
            </div>
            <div class="w3-margin-bottom">
                <button class="w3-button w3-round-large w3-block w3-theme-d3">Gem oplysninger</button>    
            </div>
        </div>
    </EditForm>
    @if (showError)
    {
        <div class="w3-center w3-text-red">@errorMessage</div>
    }
    
    @if (showResult)
    {
        <div class="w3-center w3-text-green">Key: @preSharedKeyModel.PresharedKey</div>
        <div class="w3-center w3-text-green">Version: @preSharedKeyModel.GatewayVersion</div>
    }
</div>
@code {
    private bool showError = false;
    private bool showResult = false;
    private string errorMessage = "";
    IkeaGatewayModel gatewayModel = new IkeaGatewayModel();
    PresharedKeyModel preSharedKeyModel = new PresharedKeyModel();
    
    void Submit()
    {
        preSharedKeyModel = ikeaGatewayService.SavePreSharedKey(gatewayModel.Username,gatewayModel.IP,gatewayModel.Code);
        if (preSharedKeyModel == null)
        {
            showError = true;
            errorMessage = "Ingen key fra IKEA Gateway, tjek dine data og prøv igen.";
        }
        else
        {
            showResult = true;
        }
    }
}