@page "/IkeaGateway"
@using HomeAutomation.Blazor.Data.Model
@using HomeAutomation.Blazor.Services
@using HomeAutomation.IKEA.Model
@using HomeAutomation.IKEA.Response
@using HomeAutomation.IKEA.Services
@inject IkeaGatewayService ikeaGatewayService

<div class="w3-card-4">
    <div class="w3-container w3-theme">
        <h3>Ikea's Gateway indstillinger</h3>
    </div>
        <div class="w3-container">
            <div class="w3-margin-bottom">
                <label>IP</label>
                <input @bind-value="gatewayModel.IP" onfocusout="FocusOut" class="w3-input" type="text">
            </div>
            <div class="w3-margin-bottom">
                <label>Kode</label>
                <input @bind-value="gatewayModel.Code" class="w3-input" type="text">
            </div>
            <div class="w3-margin-bottom">
                <label>Brugernavn</label>
                <input @bind-value="gatewayModel.Username" class="w3-input" type="text">
            </div>
            <div class="w3-margin-bottom">
                <button class="w3-button w3-round-large w3-block w3-theme-d3" @onclick="OnClick">Coap-client auth. command</button>    
            </div>
            <div class="w3-margin @resultClass w3-padding">
                @coapClient
            </div>
            <div>
                Udfylde alle felter og klik på "Coap-client auth. command", den kommando som står ovenover skal afvikles i en terminal.
                <br/>Hvis der ingen fejl er så får du et svar resultat som minder om dette her:
                <p class="coap-response">v:1 t:CON c:POST i:9e17 {} [ ]<br/>
                    {"9091":"eeJisqXcHN0p9Bbi","9029":"1.12.0031"}
                </p>
                Den del som skal bruges er det som står mellem og incl: {...} på den <bold>nederste</bold> linie!<br/>
                Det skal bruges på næste side!
                <br/>
            </div>
            <div class="w3-center w3-margin-bottom">
                <a href="/Ikeagatewy/Save">Næste >></a>
            </div>

        </div>
    @if (showError)
    {
        <div class="w3-center w3-text-red">@errorMessage</div>
    }
    
    @if (showResult)
    {
        <div class="w3-center w3-text-green">Key: @preSharedKeyModel.PresharedKey</div>
        <div class="w3-center w3-text-green">Version: @preSharedKeyModel.GatewayVersion</div>
    }
</div>
@code {
    private bool showError = false;
    private bool showResult = false;
    private string errorMessage = "";
    private string coapClient = "";
    private string resultClass = "";
    IkeaGatewayModel gatewayModel = new IkeaGatewayModel();
    PresharedKeyModel preSharedKeyModel = new PresharedKeyModel();
    
    void OnClick()
    {
        resultClass = "w3-theme-d1";
        GenerateAuthenciateJson generateAuthenciateJson =new GenerateAuthenciateJson();
        coapClient = generateAuthenciateJson.Get(gatewayModel);
    }
    // void Submit()
    // {
    //     preSharedKeyModel = ikeaGatewayService.SaveIkeaGatewayInfo(gatewayModel.Username,gatewayModel.IP,gatewayModel.Code,gatewayModel.DisplayName);
    //     if (string.IsNullOrEmpty(preSharedKeyModel.ErrorMessage))
    //     {
    //         showError = true;
    //         errorMessage = "Ingen key fra IKEA Gateway, tjek dine data og prøv igen.";
    //     }
    //     else
    //     {
    //         showResult = true;
    //     }
    // }
}